@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Avenir";
    src: url(../fonts/AvenirNextLTPro-Regular.otf);
    font-weight: 400;
    font-display: block;
}
@font-face {
    font-family: "Avenir";
    src: url(../fonts/AvenirNextLTPro-Demi.otf);
    font-weight: 700;
    font-display: block;
}


body{
    font-family: 'Avenir';
}

.dropdownShadow{
    box-shadow: 0px -2px 13px #A8AAC329;
}
.dropdownTopShadow{
        box-shadow: 0px -2px 13px #A8AAC329;
        transform: rotate(45deg);
}
.navBoxShadow{
    box-shadow: 0px 4px 8px #B4B9CA0F;
}

.bannerHeight{
    /* height: calc(100vh - 5.72916666667vw); */
    max-height: calc(-webkit-fill-available - 5.72916666667vw)

}

@media(max-width:768px){
    .bannerHeight{
        height: calc(100vh - 92px);
        max-height: calc(-webkit-fill-available - 92px)
    }
    
}